.piepagina{
    width: 100%;
    height: 400px;
    background-color: #eda7a7;
    .grupouno{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        .box{
            figure{
                a{
                    img{
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }
        .boxuno{
            h3{
                color: rgb(21, 20, 19);
                margin-bottom: 25px;
                font-size: 20px;
            }
            P{
                color: #473e3e;
            }
        }
        .boxdos{
            h3{
                color: rgb(21, 20, 19);
                margin-bottom: 25px;
                font-size: 20px;
            }
            .redsocial{
                a{
                    img{
                        height: 60px;
                        width: 60px;
                        transition: all 200ms ease;
                    }
                    &:hover img{
                        height: 80px;
                        width: 80px;
                        transition: 1s;
                    }
                }
            }
        }
    }
    .grupodos{
        small{
            color: rgb(52, 49, 45);
            margin-left: 80px;
            b{}
        }
    }
}