.hero{
    background-color: rgb(237, 216, 216);
    background-image: url(../img/chelsontamares.jpg);
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Noto Sans JP', sans-serif;
    img{
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        height: 250px;
        width: 250px;
        display: flex;
        position: absolute;
        top: 140px;
        left: 500px;
        background-attachment: fixed;
    }
    .menu{
        margin: 0;
        padding: 0;
        background-color: coral;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10% ;
        h1{
            color: #fff;
            font-family:'Great Vibes', cursive;
        }
        a{
            button{
                font-family:'Great Vibes', cursive;
                width: 80px;
                font-size: 20px;
                color: #e8dcdc;
                padding: 0px 0px;
                background-color: rgba(233, 82, 27, 0.854);
                border: none;
                border-radius: 80px;
                cursor: pointer;
                transition: all 0.3 ease 0s;
            }
            }
            & :hover button{
                background-color: rgba(0, 135, 169, 0.17);
            }
        }
    }
    .navlink{
        li{
            display: inline-block;
            padding: 0px 20px;
            a{
                transition: all 0.3 ease 0s;
                text-decoration: none;
                list-style: none;
                font-family:'Great Vibes', cursive;
                font-size: 15px;
                color: #0d0b0bd0;
            }
            &:hover a{
                color: #0088a9;
            }
        }
    }
