.hero{
    background-color: rgb(237, 216, 216);
    background-image: url(./img/chelson-tamares-vtQHwU4F13s-unsplash.jpg);
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Noto Sans JP', sans-serif;
    color: aqua;
    height: 200px;
    width: 100%;
    .menu{
        h1{
            display: flex;
    justify-content: left;
    position: absolute;
    top: 60px;
    left: 30px;
    top: 0;
        }
        ul{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            position: absolute;
            li{
                list-style: none;
                margin-left: 75px;
                float: left;
                padding: 25px 0;
                a{
                    text-decoration: none;
                    color: rgb(224, 207, 207);
                    font-weight: bold;
                    position: absolute;
                    display: flex;
                    top: 0;
                    
                }
            }
        }
        
    }
}