/* media query index */
@media screen and (max-width:1190px) {
    .hero {
        nav {
            background: none;
            height: 20%;
            width: 20%;
        }

        img {
            height: 300px;
            width: 300px;
            top: 50px;
            left: 0;
        }
    }

    .barranav {
        a {
            color: black;
            position: absolute;
        }
    }

    .parrafo {
        align-items: end;
        font-size: 100%;
    }
}

@media screen and (max-width:998px) {
    .hero {
        img {
            height:0px;
            width: 0px;
            top: 0;
        }

        h1 {
            font-size: 0px;
            margin-top: 50px;
            transition: 5s;
            position: relative;
        }
    }

    .cta {
        button {
            height: 50px;
            width: 20px;
            font-size: 15px;
            position: absolute;
            left: 0px;
            width: 60px;
            font-size: 10px;
            top: 0px;
        }
    }

    .navlink {
        a {
            font-size: 40px;
        }
    }

    .wrapper {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .card {
        height: 180px;
        width: 200px;
        font-size: 15px;
        margin-right: 5px;
        margin-left: 10px;

        h2 {
            font-size: 15px;
        }

        .info {
            p {
                font-size: 0px;
            }

            a {
                width: 80px;
                height: 30px;
            }
        }

        .btn {
            display: flex;
            flex-direction: row;
            font-size: 5px;
            left: 5px;
        }

        .parrafotarjeta {
            p {
                font-size: 15px;
                display: flex;
                flex-direction: column;
            }

            img {
                font-size: 15px;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .piepagina{
            position: relative;
            font-size: 15px;
        .grupouno{
            width: 200px;
            height: 800px;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            padding: 25px 0px;
            .boxuno{
                position: absolute;
                top: 100px;
                img{
                    height: 50px;
                    width: 50px;
                }
            }
            .boxdos{
                position: absolute;
                top: 290px;
            }
        }
        .grupodos{
            position: absolute;
            top: 380px;
            left: 0px;
            font-size: 10px;
        }
    }
    .redsocial{
        img{
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (max-width:650px) {
    .navlink {
        a {
            font-size: 25px;
        }
    }
    .parrafotarjeta {
        h2 {
            font-size: 15px;
        }

        p {
            display: flex;
            justify-content: start;
            position: relative;
        }

        img {
            height: 80px;
            width: 80px;
            display: flex;
            position: absolute;
            left: 0px;
        }
    }
    .piepagina{
        position: relative;
        font-size: 15px;
        .boxuno{
            position: absolute;
            top: 100px;
        }
        .boxdos{
            position: absolute;
            top: 290px;
        }
    }
    .grupodos{
        position: absolute;
        top: 380px;
        left: 0px;
        font-size: 10px;
    }
}

/*cierra media query index*/

/*comienza mediaquery americana */
@media screen and (max-width:986px) {
    .contenedortituloamericana {
        img {
            left: 300px;
            transition: 2s;
            height: 50px;
            width: 50px;
            transition: 3s;
        }
        h2 {
            width: 500px;
            font-size: 30px;
            transition: 2s;
        }
    }
    .tituloamericana{
        justify-content: start;
        transition: 2s;
    }
    .redes{
        img{
            height: 30px;
            width: 30px;
        }
        h3{
            font-size: 15px;
        transition: 2s;
        }
    }
}
@media screen and (max-width:780px){
    .contenedorimagenesamericana{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr;
    }
    .redes{
        img{
            width:30px;
            height: 30px;
            transition: 2s;
        }
    }
}
@media screen and (max-width:527px){
    .contenedorimagenesamericanas{
        grid-template-columns: 1fr;
        img{
            left: 70px;
        }
        h2{
            width: 100px;
            font-size: 15px;
        }
    }
    .redes{
        img{
            height: 20px;
            width: 20px;
        }
    }
}
/*cierra media query americana*/
/*mediaquery rusa*/
@media screen and (max-width:986px){
    .contenedortitulo{
        h2{
            width: 500px;
            font-size: 30px;
            transition: 2s;
        }
        img{
            left: 300px;
            transition: 2s;
            height:50px;
            width: 50px;
            transition: 2s;
        }
    }
    .titulorusa{
        justify-content: start;
        transition: 2s;
    }
    .redes{
        img{
            height: 30px;
            width: 30px;
            transition: 2s;
        }
    }
}
@media screen and (max-width:780px){
    .contenedorimagenesrusas{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr;
    }
    .redes{
        img{
            width:30px;
            height: 30px;
            transition: 2s;
        }
    }
}
@media screen and (max-width:527px){
    .contenedorimagenesrusas{
        grid-template-columns: 1fr;
    }
    .contenedortitulo{
        img{
            left: 100px;
        }
        h2{
            width: 100px;
            font-size: 15px;
        }
    }
    .redes{
        img{
            height: 20px;
            width: 20px;
        }
        h3{
            font-size: 15px;
            transition: 2s;
        }
    }
}
/*cierra media rusa*/
/*media query direccion */
.mainmapa{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    .mapa{
        iframe{
            width: 200px;
            height: 200px;
        }
    }
    .formregistro{
            height: 300px;
            width: 200px;
        input{
            width: 80px;
            height: 30px;
            font-size: 10px;
        }
    }
}
/*media query semipemanente*/
@media screen and (max-width:986px){
    .meinsemi{
        .titulosemipermanente{
            justify-content: start;
            transition: 2s;
            .contenedortitulosemipermanente{
                h2{
                    width: 100px;
                    font-size: 20px;
                    transition: 2s;
                }
                img{
                    left: 100px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                    transition: 3s;
                }
            }
        }
    }
}
@media screen and (max-width:780px){
    .meinsemi{
        .contenedorimagenessemipermanente{
            width: 100%;
            margin: 0px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width:527px){
    .meinsemi{
        .titulosemipermanente{
            .contenedortitulosemipermanente{
                h2{
                    width: 100px;
                font-size: 15px;
                }
                img{
                    left: 70px;
                }
            }
        }
        .contenedorimagenessemipermanente{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}