/* media query index */
@media screen and (max-width:1190px){
    .hero{
        img{
            height: 0px;
            width: 0px;
        }
        .menu{
            h1{
                font-size: 20px;
                display: flex;
                padding-top: 0px;
                font-size: 0px;
                margin-top: 50px;
                position: relative;
            }
        }
    }
}


@media screen and (max-width:998px) {
    .hero{
        .menu{
            .cta{
                height: 30px;
                width: 30px;
                .boton{
                    padding: 0;
                    height: 0px;
                    width: 0px;
                    font-size:0px;
                    position: absolute;
                    right: 50px;
                    
                }
            }
            h1{
                font-size: 0px;
                margin-top: 50px;
                position: relative;
            }
            .navlink{
                nav{
                    div{
                        button{
                            width: 60px;
                            font-size: 10px;
                            top: 0px;
                        }
                        div{
                            ul{
                                li{
                                    a{
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .direccionlogo{
        img{
            height: 0px;
            width: 0px;
            top: 0;
        }
    }
    .main{
        .wrapper{
            font-size: 10px;
            display: flex;
            justify-content:space-around;
            flex-direction:row;
            .card{
                height: 180px;
                width: 200px;
                font-size: 15px;
                margin-right: 5px;
                margin-left: 10px;
                .info{
                    top: 50px;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 0px;
                    }
                    a{
                        width: 80px;
                        height: 30px;
                    }
                    .btn{
                        display: flex;
                        flex-direction: row;
                        font-size: 5px;
                        left: 5px;
                    }
                }
            }
        }
        .parrafotarjeta{
            margin-top: 150px;
            position: absolute;
            top: 530px;
            left: 0px;
            p{
                font-size: 15px;
                display: flex;
                flex-direction: column;
            }
            img{
                height: 80px;
                width: 80px;
            }
        }
    }
    .piepagina{
        position: relative;
        font-size: 15px;
        .grupouno{
            width: 200px;
            height: 800px;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            padding: 25px 0px;
            .box{
                figure{
                    a{
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
            .boxuno{
                position: absolute;
                top: 100px;  
                
            }
            .boxdos{
                position: absolute;
                top: 290px;
                .redsocial{
                    a{
                        img{
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
        .grupodos{
            position: absolute;
            top: 380px;
            left: 0px;
            font-size: 10px;
        }
    }

}
@media screen and (max-width:650px) {
    .hero{
        .menu{
            .cta{
                height: 30px;
                width: 30px;
                .boton{
                    padding: 0;
                    height: 0px;
                    width: 0px;
                    font-size:0px;
                    position: absolute;
                    right: 50px;
                    
                }
            }
            h1{
                font-size: 0px;
                margin-top: 50px;
                position: relative;
            }
            .navlink{
                nav{
                    div{
                        button{
                            width: 60px;
                            font-size: 10px;
                            top: 0px;
                        }
                        div{
                            ul{
                                li{
                                    a{
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .direccionlogo{
        img{
            height: 0;
            width: 0;
        }
    }
    .main{
        .wrapper{
            font-size: 10px;
            display: flex;
            justify-content:space-around;
            flex-direction:row;
            .card{
                height: 180px;
                width: 100px;
                font-size: 15px;
                margin-right: 5px;
                margin-left: 10px;
                .info{
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 0px;
                    }
                    a{
                        width: 80px;
                        height: 30px;
                    }
                    .btn{
                        display: flex;
                        flex-direction: row;
                        font-size: 5px;
                        left: 5px;
                    }
                }
            }
        }
        .parrafotarjeta{
            margin-top: 150px;
            position: absolute;
            top: 530px;
            left: 0px;
            p{
                display: flex;
                justify-content: start;
                position: relative;
            }
            h2{
                font-size: 15px;
            }
            img{
                height: 80px;
                width: 80px;
                display: flex;
                position: relative;
                left: 0px;
            }
        }
    }
    .piepagina{
        position: relative;
        font-size: 15px;
        .grupouno{
            width: 200px;
            height: 800px;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            padding: 25px 0px;
            .box{
                figure{
                    a{
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
            .boxuno{
                position: absolute;
                top: 100px;
                
            }
            .boxdos{
                position: absolute;
                top: 290px;
                .redsocial{
                    a{
                        img{
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
        .grupodos{
            position: absolute;
            top: 380px;
            left: 0px;
            font-size: 10px;
        }
    }
}

/*cierra media query index*/

/*comienza mediaquery americana */
@media screen and (max-width:986px){
    main{
        .tituloamericana{
            justify-content: start;
            transition: 2s;
            .contenedortituloamericana{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenesamericanas{
            .tarjetaamericana{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
    
}
    
@media screen and (max-width:780px){
    main{
        .tituloamericana{
            justify-content: start;
            transition: 2s;
            .contenedortituloamericana{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenesamericanas{
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr 1fr;
            .tarjetaamericana{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
    
}    
@media screen and (max-width:527px){
    main{
        .tituloamericana{
            justify-content: start;
            transition: 2s;
            .contenedortituloamericana{
                h2{
                    width: 100px;
                    font-size: 15px;
                }
                img{
                    height: 40px;
                    width: 40px;
                    left: 70px;
                }
            }
        }
        .contenedorimagenesamericanas{
            grid-template-columns: 1fr;
            .tarjetaamericana{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
/*cierra media query americana*/
/*mediaquery rusa*/
@media screen and (max-width:986px){
    main{
        .titulorusa{
            justify-content: start;
            transition: 2s;
            .contenedortitulo{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenesrusas{
            .tarjetarusa{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:780px){
    main{
        .titulorusa{
            justify-content: start;
            transition: 2s;
            .contenedortitulo{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenesrusas{
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr 1fr;
            .tarjetarusa{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:527px){
    main{
        .titulorusa{
            justify-content: start;
            transition: 2s;
            .contenedortitulo{
                h2{
                    width: 100px;
                    font-size: 15px;
                }
                img{
                    height: 40px;
                    width: 40px;
                    left: 70px;
                }
            }
        }
        .contenedorimagenesrusas{
            grid-template-columns: 1fr;
            .tarjetarusa{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
/*cierra media rusa*/
/*media query direccion */
.mainmapa{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    .mapa{
        iframe{
            width: 200px;
            height: 200px;
        }
    }
    .formregistro{
            height: 300px;
            width: 200px;
        input{
            width: 80px;
            height: 30px;
            font-size: 10px;
        }
    }
}
/*media query semipemanente*/
@media screen and (max-width:986px){
    .mainsemi{
        .titulosemipermanente{
            justify-content: start;
            transition: 2s;
            .contenedortitulosemipermanente{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenessemipermanente{
            .tarjetasemipermanente{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:780px){
    .mainsemi{
        .titulosemipermanente{
            justify-content: start;
            transition: 2s;
            .contenedortitulosemipermanente{
                h2{
                    width: 500px;
                    font-size: 30px;
                    transition: 2s;
                }
            }
        }
        .contenedorimagenessemipermanente{
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr 1fr;
            .tarjetasemipermanente{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width:527px){
    .mainsemi{
        .titulosemipermanente{
            justify-content: start;
            transition: 2s;
            .contenedortitulosemipermanente{
                h2{
                    width: 100px;
                    font-size: 15px;
                }
                img{
                    height: 40px;
                    width: 40px;
                    left: 70px;
                }
            }
        }
        .contenedorimagenessemipermanente{
            grid-template-columns: 1fr;
            .tarjetasemipermanente{
                img{
                    left: 300px;
                    transition: 2s;
                    height:50px;
                    width: 50px;
                }
            }
        }
    }
}