$heigth:
40px,
80px,
200px,
250px,
360px,
400px,
500px;

/*variable hancho */
$width:
80px,
200px,
250px,
280px,
400px,
600px;
/*colores*/
$colores:
rgb(237, 216, 216),
rgb(232, 99, 28),
#edd8d8,
#e8631c,
rgba(0, 135, 169, 0.17),
coral,
#fff,
#0d0b0bd0,
#0088a9,
rgba(255, 127, 80, 0.647),
white,
rgba(0, 0, 0, 0.5),
rgba(225, 94, 94, 0.459),
rgba(242, 74, 80, 0.213),
rgba(255, 127, 80, 0.558),
black,
rgba(239, 152, 120, 0.823),
rgba(255, 127, 80, 0.839),
#24303c,
#1f53c5,
#f1bdaa,
#9c8f8f;



